In [5]:
people = {'Aris', 'Bennet', 'Chris'}
slayers = people.copy()
slayers.discard('Aris')
slayers.remove('Chris')
people, slayers

({'Aris', 'Bennet', 'Chris'}, {'Bennet'})

In [6]:
import copy
myObj  ='Something'
newObj = copy.copy(myObj) # Shallow copy
newObj2 = copy.deepcopy(myObj) # Deep copy

myObj == newObj, myObj == newObj2, myObj is newObj, myObj is newObj2

(True, True, True, True)

In [7]:
word = 'Beware of Vampire!'
print(word[-1], word[-2], word[-3:], word[:-3], word[-0])

! e re! Beware of Vampi B

In [8]:
game = ['LOL','and','MapleStory']
print(" ".join(game), "-".join(game))

LOL and MapleStory LOL-and-MapleStory

In [9]:
name = 'Scarlet'
name.ljust(30,'-')

'Scarlet-----------------------'

In [10]:
name.rjust(30,'-')

'-----------------------Scarlet'

In [11]:
'{0},{1}'.format('a','b')

'a,b'

In [12]:
'name : {name}, age : {age}'.format(name='Chris',age=20)

'name : Chris, age : 20'

In [13]:
'{} {} {}'.format('Py','th','on')

'Py th on'

In [14]:
sent = 'Today is March 7th'
sent.split(' ')

['Today', 'is', 'March', '7th']

In [15]:
sent.split('a')

['Tod', 'y is M', 'rch 7th']

In [16]:
blank = '   I am tired   '
blank.strip(' ')

'I am tired'

In [17]:
blank.strip()

'I am tired'

In [19]:
cap = 'AbCdEfGhIjKlMnOp'
cap.swapcase()

'aBcDeFgHiJkLmNoP'

In [20]:
nba = 'Milwakee vs Los Angeles'
nba.find('l'),nba.find('e'),nba.index('L')

(2, 6, 12)

In [22]:
nba.count('e'), nba.count('e',0,10)

(4, 2)

In [25]:
tp = 1,2,3,4,5,6,7,8,9
type(tp)

tuple

In [26]:
tp.count(3),tp.index(7)

(1, 6)

In [27]:
# tuple unpacking

x, *y = (1, 2, 3, 4)
x, y

(1, [2, 3, 4])

In [28]:
*x, y = (1, 2, 3, 4)
x, y

([1, 2, 3], 4)

In [36]:
# namedtuple module

# import collections
# Person = collections.namedtuple('Person', 'name age gender')

from collections import namedtuple as nt
Person = nt('Person', 'name age gender')
p = Person('Andy', 15, 'male')
p, p.name, p.age, p.gender

(Person(name='Andy', age=15, gender='male'), 'Andy', 15, 'male')

In [37]:
p = [2, 3]
q = [1, p, 4]
q[1].append(50)
p, q

([2, 3, 50], [1, [2, 3, 50], 4])